body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:108px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:108px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1360px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:1280px;
  height:1360px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:672px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:8px;
  width:52px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u362 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:106px;
  width:73px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u363 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:61px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u364 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:61px;
  width:90px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u365 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:67px;
  width:75px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
