body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:790px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:790px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:387px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u189 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u190 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u192 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:60px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
