body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1118px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1118px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:551px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u172 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:60px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
