body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:749px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:749px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u181 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u182 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u183 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u184 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:60px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
