body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1128px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1128px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:556px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:8px;
  width:52px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:67px;
  width:75px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
