body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1107px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1107px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:546px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:44px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:44px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:34px;
  width:333px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:102px;
  width:95px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:141px;
  width:138px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:60px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
